{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>BIRDS LAND</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Ornithology a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- css files -->
<link href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css' %}" media="all" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/photoGallery.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/dreamslider.min.css' %}" rel="stylesheet" type="text/css" media="screen"/>
<link href="{% static 'css/work.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/banner.css' %}" rel="stylesheet" type="text/css">	
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">	
<!-- /css files -->	
<!-- font files -->	
<link href="{% static '//fonts.googleapis.com/css?family=Orbitron:400,500,700,900' %}" rel='stylesheet' type='text/css'>
<link href="{% static '//fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' %}" rel='stylesheet' type='text/css'>
<!-- /font files -->	
<!-- js files -->
<script src="{% static 'js/modernizr.js' %}"></script>
<!-- /js files -->
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"><h1>BIRDS LAND</h1></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Home</a></li>
				<li><a href="#slide-2">What we do</a></li>
				<li><a href="#slide-3">Gallery</a></li>
				<li><a href="#slide-4">Blog</a></li>
				<!--<li><a href="#slide-5">Sell/Buy</a></li>
				<li><a href="#slide-6">Contact</a></li>-->
                                <li><a href="user_logout">Logout</a></li>
				
			</ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!-- /Fixed Navbar -->
<!-- Ban -->	
<div class="slide story" id="slide-1">
	<div id="content"> 
        <div id="slider">
			<img src="static/images/image1.jpg" alt="Birds Land" data-url="#1">
			<img src="static/images/image2.jpg" alt="Just Spread Your Wings" data-url="#2">
			<img src="static/images/image3.jpg" alt="And" data-url="#3">
			<img src="static/images/image4.jpg" alt="Fly High" data-url="#4">
		</div>
	</div>
</div>	
<!-- === Slide 2 === -->
<div class="slide story" id="slide-2">
<section class="our-work slideanim">
	<h3 class="text-center slideanim">What We Do</h3>
	<div class="container">
		<hr>
	</div>
	<p class="text-center slideanim">The “Birds Land“ is the center which is exclusively dedicated to birds and their caring. Here, we sell and buy birds,treat and rehabilitate the injured birds. We provide the public with detailed information on birds about their feeding, houses.</p>
	<div class="container-fluid">
		<div class="demo-wrapper">
			<ul class="portfolio-items">
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work1.jpg" /> </div>
						<figcaption>
							<p><span>Alan Murphy</span></p>
							<p><span><a href="http://www.alanmurphyphotography.com/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">lovable</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work2.jpg" /> </div>
						<figcaption>
							<p><span>Alan Murphy</span></p>
							<p><span><a href="http://www.alanmurphyphotography.com/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">elegant</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work3.jpg" /> </div>
						<figcaption>
							<p><span>Aurthur Morris</span></p>
							<p><span><a href ="http://www.birdsasart-blog.com/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">good-crazy</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work4.jpg" /> </div>
						<figcaption>
							<p><span>Bence Mate</span></p>
							<p><span><a href ="http://www.matebence.hu/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">stunning</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work5.jpg" /> </div>
						<figcaption>
							<p><span>David Tipling</span></p>
							<p><span><a href="http://www.davidtipling.com/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">exotic</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work6.jpg" /> </div>
						<figcaption>
							<p><span>Glenn Bartley</span></p>
							<p><span><a href ="http://www.glennbartley.com/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">magnificient</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work7.jpg" /> </div>
						<figcaption>
							<p><span>Glenn Bartley</span></p>
							<p><span><a href ="http://www.glennbartley.com/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">beautiful</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work8.jpg" /> </div>
						<figcaption>
							<p><span>Gregory Basco</span></p>
							<p><span><a href="http://www.deepgreenphotography.com/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">heroic</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work9.jpg" /> </div>
						<figcaption>
							<p><span>Jari Peltomaki</span></p>
							<p><span><a href ="http://jaripeltomaki.com/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">graceful</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work10.jpg" /> </div>
						<figcaption>
							<p><span>Miguel Lasa</span></p>
							<p><span><a href ="http://www.miguellasa.com/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">vivacious</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work11.jpg" /> </div>
						<figcaption>
							<p><span>Ofer Levy</span></p>
							<p><span><a href ="http://wildlife-photography-school.com/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">fabulous</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work12.jpg" /> </div>
						<figcaption>
							<p><span>Tim Laman</span></p>
							<p><span><a href ="http://www.timlaman.com/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">gorgeous</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work13.jpg" /> </div>
						<figcaption>
							<p><span>Mario Cea Sanchez</span></p>
							<p><span><a href ="https://www.naturephotographers.co.uk/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">sensible</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work14.jpg" /> </div>
						<figcaption>
							<p><span>David Asvitt</span></p>
							<p><span><a href="https://asvittphotography.dphoto.com/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">prettiest</div>
				</li>
				<li class="item">
					<figure>
						<div class="view"> <img src="static/images/work15.jpg" /> </div>
						<figcaption>
							<p><span>Markus Varesvuo</span></p>
							<p><span><a href ="www.naturephotoblog.com/author/markus-varesvuo/">Info</a></span></p>
						</figcaption>
					</figure>
					<div class="date">snowwhite</div>
				</li>
			</ul>
		</div>
	</div><!-- /container -->
</section>	
</div><!-- /slide2 -->
<!-- Portfolio Section -->
<!-- === SLide 3 - Portfolio -->
<div class="slide story" id="slide-3" data-slide="3">
<section class="gallery slideanim">
	<h3 class="text-center slideanim"> Gallery</h3>
	<div class="container">
		<hr></hr>
	</div>
	<p class="text-center slideanim"></p>
	<div class="container">
		<div class="im_wrapper">
			<div><img src="static/images/30.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/2.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/3.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/4.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/5.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/6.jpg" class="img-responsive" alt=""/></div>
            

            <div><img src="static/images/7.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/8.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/9.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/10.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/11.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/12.jpg" class="img-responsive" alt=""/></div>

            <div><img src="static/images/13.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/14.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/15.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/16.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/17.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/18.jpg" class="img-responsive" alt=""/></div>
			
			<div><img src="/static/images/90.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/19.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/20.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/21.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/22.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/23.jpg" class="img-responsive" alt=""/></div>
			
			<div><img src="/static/images/1.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/25.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/26.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/27.jpg" class="img-responsive" alt=""/></div>
            <div><img src="static/images/28.jpg" class="img-responsive" alt=""/></div>	
	    <div><img src="static/images/24.jpg" class="img-responsive" alt=""/></div>	
        </div>
	</div>
</section>	
</div><!-- /slide3 -->
<!-- /Portfolio Section -->
<!-- === Slide 4 - Process === -->
<!-- Testimonial Section -->
<div class="slide story" id="slide-4" data-slide="4">
<section class="testimonials slideanim">
	<h3 class="text-center slideanim">Blog</h3>
	<div class="container">
		<hr>
	</div>
	<button style="text-align:middle;">post</button>
	<p class="text-center slideanim"></p>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 client-info">
				<div class="testimonial slideanim">
					<div class="test-info1">
						<p class="test1 slideanim"><b>Birds land's mission is to conserve and restore natural ecosystems, focusing on birds, other wildlife, and their habitats for the benefit of humanity and the earth's biological diversity.It's mission is to interpret and conserve the birds biological diversity.</b></p>
					</div>
					<div class="test-info2">
						
						<div class="test-details1 slideanim">
							<h4>By</h4>
							<p class="test2">Priyanka</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 client-info">
				<div class="testimonial slideanim">
					<div class="test-info1">
						<p class="test1"><b>This website is designed to disseminate comprehensive information on various aspects of the biology of indian faunas, encourage their observation to study their natural history and ecology, gather population and distributional data in a centralized database, and spread awareness about their conservation</b></p>
					</div>
					<div class="test-info2">
						
						<div class="test-details2 slideanim">
							<h4>By</h4>
							<p class="test2">Bhavya</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 client-info">
				<div class="testimonial slideanim">
					<div class="test-info1">
						<p class="test1 slideanim"><b>Welcome to Birds Land, an internet based and peer-reviewed resource devoted to indian birds.India has spectacular birds which have been studied intensively over the past 150 years. Yet, Dedicated and scholarly web resources with detailed species pages on indian birds have been scarce.</b></p>
					</div>
					<div class="test-info2">
						
						<div class="test-details3 slideanim">
							<h4>By</h4>
							<p class="test2">Dhakshayani</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	
</div><!-- /slide4 -->
<!-- /Testimonial Section -->
<!-- Pricing Tables -->
<!-- /contact section -->
<!-- Footer section -->
<section class="footer">
	<div class="container">
		<div class="col-lg-3 col-sm-6">
			<div class="footer-about">
				<h3>About-us</h3>
				<p>The “Birds Land“ is the center which is exclusively dedicated to birds and their caring. Here, we sell and buy birds,treat and rehabilitate the injured birds. We provide the public with detailed information on birds about their feeding, houses.</p>
				<a href="#slide-2" data-slide="2"></a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="footer-nav">
				<h3>Browse It</h3>
				<ul class="links">
					<li><a href="index.html"><span class="icon icon-home"></span>Home</a></li>
					<li><a href="#slide-2"><span class="icon icon-user"></span>What we do</a></li>
					<li><a href="#slide-3"><span class="icon icon-camera"></span>Gallery</a></li>
					<li><a href="#slide-4"><span class="icon icon-heart"></span>Clients</a></li>
					<li><a href="#slide-5"><span class="icon icon-gears"></span>sell/buy</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="footer-address">
				<h3>Our Address</h3>
				<div class="contact-info">
					<div class="address">	
						<i class="icon icon-globe"></i>
						<p class="p3">SVECW</p> 
						<p class="p4">Andhra Pradesh,India</p>
					</div>
					<div class="phone">
						<i class="icon icon-phone"></i>
						<p class="p3">+91 9156 151515</p>
						<p class="p4">+91 7109 010101</p>
					</div>
					<div class="email-info">
						<i class="icon icon-envelope"></i>
						<p class="mail"><a href="mailto:myemail@example.com">mail@example.com</a></p> 
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="footer-gallery">
				<h3>Our Collections</h3>
				<div id="photoGallery-container">
					<img class="photoGallery" data-src="static/images/footer-pic1.jpg" src="static/images/footer-pic1.jpg" data-id="pic_1">
					<img class="photoGallery" data-src="static/images/footer-pic2.jpg" src="static/images/footer-pic2.jpg" data-id="pic_2">
					<img class="photoGallery" data-src="static/images/footer-pic3.jpg" src="static/images/footer-pic3.jpg" data-id="pic_3">
					<img class="photoGallery" data-src="static/images/footer-pic4.jpg" src="static/images/footer-pic4.jpg" data-id="pic_4">
					<img class="photoGallery" data-src="static/images/footer-pic5.jpg" src="static/images/footer-pic5.jpg" data-id="pic_5">
					<img class="photoGallery" data-src="static/images/footer-pic6.jpg" src="static/images/footer-pic6.jpg" data-id="pic_6">
					<img class="photoGallery" data-src="static/images/footer-pic7.jpg" src="static/images/footer-pic7.jpg" data-id="pic_7">
					<img class="photoGallery" data-src="static/images/footer-pic8.jpg" src="static/images/footer-pic8.jpg" data-id="pic_8">
					<img class="photoGallery" data-src="static/images/footer-pic9.jpg" src="static/images/footer-pic9.jpg" data-id="pic_9">
					<img class="photoGallery" data-src="static/images/footer-pic10.jpg" src="static/images/footer-pic10.jpg" data-id="pic_9">
					<img class="photoGallery" data-src="static/images/footer-pic11.jpg" src="static/images/footer-pic11.jpg" data-id="pic_9">
					<img class="photoGallery" data-src="/static/images/footer-pic12.jpg" src="static/images/footer-pic12.jpg" data-id="pic_9">
				</div>
			</div>
		</div>
	</div>
	<div class="container">
	<hr>
		<div class="row">
			<div class="col-lg-12">
				<div class="copyright">
					<p class="text-center"></p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Footer section -->

</body>
	<!-- SCRIPTS -->
	<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<!-- js for banner -->
	<script src="{% static 'js/classie.js' %}"></script>
	<script src="{% static 'js/TweenMax.min.js' %}"></script>
	<script src="{% static 'js/banner.js' %}"></script>
	<!-- /js for banner -->
	<!-- js for top of work section -->
	 <script src="{% static 'js/index.js' %}"></script>
	<!-- /js for top of work section -->
	<!-- js for works section -->
	<script src="{% static 'js/modernizr-1.5.min.js' %}"></script> 
	<script src="{% static 'js/jquery.mousewheel.js' %}"></script> 
	<script src="{% static 'js/work.js' %}"></script>
	<!-- /js for works section -->
	<!-- js for footer pics -->
	<script type="text/javascript" src="{% static 'js/photoGallery.js' %}"></script>
	<script type="text/javascript">
	$(function(){
		var photoGallery = new PhotoGallery();
	});
	</script>
	<!-- js for footer pics -->
	<!-- js for gallery -->
	<script type="text/javascript" src="{% static 'js/dreamslider.min.js' %}"></script>
    <script type="text/javascript">
            $(function(){
                $('.container').dreamSlider({
                    rowCount:6
                    //,easeEffect: 'bounce'
                    //,easeEffect: 'standOut'
                });
            });
    </script>
	<!-- js for gallery -->
<!-- js for smooth navigation -->
	<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, section.footer a").on('click', function(event) {

  // Store hash
  var hash = this.hash;

  // Using jQuery's animate() method to add smooth page scroll
  // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
  $('html, body').animate({
    scrollTop: $(hash).offset().top
  }, 900, function(){

    // Add hash (#) to URL when done scrolling (default click behavior)
    window.location.hash = hash;
    });
  });
})
</script>
<script>
$(window).scroll(function() {
  $(".slideanim").each(function(){
    var pos = $(this).offset().top;

    var winTop = $(window).scrollTop();
    if (pos < winTop + 600) {
      $(this).addClass("slide");
    }
  });
});
</script>
<!-- /js for smooth navigation -->	
		<!-- js for pricing table -->
		<script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
		<script>
			$(document).ready(function() {
			$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',
			fixedContentPos: false,
			fixedBgPos: true,
			overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
			});
			});
		</script>
		<!-- /js for pricing table -->
</html>
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the BIRDSLAND !</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}
  </div>
</div>

{% endblock %}
